@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    /* White */
    --foreground: 222.2 84% 4.9%;
    /* Dark */

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 24.6 95% 53.1%;
    /* Orange-500: #f97316 */
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 24.6 95% 53.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 25% 6%;
    /* Deeper Slate/Grey instead of near-black */
    --foreground: 210 40% 98%;

    --card: 222.2 24% 10%;
    /* Slightly lighter than bg */
    --card-foreground: 210 40% 98%;

    --popover: 222.2 25% 6%;
    --popover-foreground: 210 40% 98%;

    --primary: 24.6 95% 53.1%;
    /* Orange */
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 24.6 95% 53.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Outfit', sans-serif;
  }
}

.brand-orange-filter {
  filter: invert(58%) sepia(82%) saturate(2253%) hue-rotate(344deg) brightness(101%) contrast(98%);
}

.group:hover .group-hover\:brand-orange-filter {
  filter: invert(58%) sepia(82%) saturate(2253%) hue-rotate(344deg) brightness(101%) contrast(98%);
}